.persent {
    font-size: 1.4rem;
    color: darkseagreen;
    text-decoration: none !important;
}

.type a{
    font-size: 0.8rem;
    color: #777777;
    text-decoration: none !important;
}
.entity {
    text-overflow: clip;
    white-space: nowrap;
}
a.linkPerson{
    text-decoration: none !important;
    text-decoration-line: none;
}