a.linkPerson span {
    text-decoration: none !important;
    text-decoration-line: none;
}
a.linkPerson{
    text-decoration: none !important;
    text-decoration-line: none;
}
.personName {
    font-weight: bold;
    text-decoration: none;
}
.personImg {
    border-radius: 50%;
}
.personScreenName {
    font-size: 0.875rem;
    color: grey;
}