a.linkPerson span {
    text-decoration: none !important;
    text-decoration-line: none;
}
a.linkPerson{
    text-decoration: none !important;
    text-decoration-line: none;
}
.personName {
    font-weight: bold;
    text-decoration: none;
    text-overflow: clip;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */

}
.personImg {
    border-radius: 50%;
}
.personScreenName {
    font-size: 0.875rem;
    color: grey;
    text-overflow: ellipsis;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */

}
.overFlow {
    text-overflow: ellipsis;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
}
.numbers {
    text-align: right;
}